html {
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    border: 1px solid red;
}

body {
    width: 80%;
    margin: auto;
    font-family: 'Roboto Condensed', Arial, sans-serif;
}
/* HEADER AND NAVIGATION */

header {
    display: flex;
    height: 75px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#title {
    flex-grow: 1;
    margin-left: 20px;
    align-self: center;
}


nav ul {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-right: 20px;
    align-items: center;
}

nav li {
    padding: 10px;
    width: 100px;
    text-align: center;
}

/* HERO SECTION */

#hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-items: center;
}

#hero div {
    width: 50%;
    margin: auto;
    text-align: center;
}

#hero h1 {
    font-size: 75px;
    line-height: 1.75;
    text-transform: uppercase;
}

#hero p {
    font-size: 30px;
}