html {
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    border: 1px solid red;
}


/* HEADER AND NAVIGATION */

header {
    display: flex;
}

nav {
    flex-grow: 1;
    display: flex;
}

#title {
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: end;
}