html {
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    border: 1px solid red;
}

body {
    width: 80%;
    margin: auto;
    font-family: 'Roboto Condensed', Arial, sans-serif;
}

.section-title {
    line-height: 3;
    font-size: 30px;
}

/* HEADER AND NAVIGATION */

header {
    display: flex;
    height: 75px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

#title {
    flex-grow: 1;
    margin-left: 20px;
    align-self: center;
}


nav ul {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-right: 20px;
    align-items: center;
}

nav li {
    padding: 10px;
    width: 100px;
    text-align: center;
}

/* HERO SECTION */

#hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-items: center;
}

#hero div {
    width: 50%;
    margin: auto;
    text-align: center;
}

#hero h1 {
    font-size: 75px;
    line-height: 1.75;
    text-transform: uppercase;
}

#hero p {
    font-size: 30px;
}

/* SERVICES SECTION */

#services-section {
    text-align: center;
}

#services-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 0px;
    min-height: 50vh;
    align-items: center;
}

.service-card {
    min-width: 200px;
    flex-basis: 300px;
}

.service-card span.material-icons {
    font-size: 100px;
}

.service-card h4 {
    font-size: 30px;
    line-height: 1.8;
}

.service-card p {
    font-size: 20px;
    line-height: 1.5;
}

/* TEAM SECTION */

#team-section {
    text-align: center;

}

#team-card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 0px;
    min-height: 50vh;
    align-items: center;
}

.team-card {
    min-width: 150px;
    flex-basis: 250px;
}

.team-card img {
    width: 100px;
    height: auto;
}

.team-card h4 {
    font-size: 30px;
    line-height: 1.8;
}

.team-card p {
    font-size: 20px;
    line-height: 1.5;
}

/* FOOTER */

footer {
    height: 10vh;
    display: flex;
    align-items: center;
}

footer h4 {
    flex-grow: 1;
    margin-left: 20px;
}

footer p {
    flex-grow: 1;
    text-align: right;
    margin-right: 20px;
}